.Post {
  height: 400px;
  @media (min-width: 768px) {
    height: 340px;
  }
  font-family: Marcellus;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  overflow: hidden;
  margin: 12px 0;

  .Post-header {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 10px;

    .Post-user-avatar {
      width: 30px;
      height: 30px;
      line-height: 26px;
      text-align: center;
      color: #ffffff;
      font-weight: bold;
      font-size: 15px;
      background-color: #0d8eda;
      border: 2px solid #ffffff;
      border-radius: 3px;
      box-shadow: 0 0 0 2px #0d8eda;
    }
    .Post-date {
      color: #888888;
      font-size: 13px;
    }
  }
  .Post-image {
    display: flex;
    align-items: center;
    height: 250px;
    @media (min-width: 768px) {
      height: 150px;
    }
    overflow: hidden;
    img {
      width: 100%;
      transition: all 0.2s ease-in-out;
      // object-fit: cover;
      &:hover{
          transform: scale(1.1);
      }
    }
  }

  .Post-actions {
    text-align: right;
    padding: 0 10px;
    font-size: 13px;
    .actions-icons {
      padding: 0 4px;
    }
  }
  .Post-content {
    padding: 0 15px;

    .Post-title {
      color: #444444;
      font-size: 14px;
      line-height: 1.2em;
    }
    .tag{
      font-size: 12px;
      color: #ffffff;
    }
  }
  &:hover {
    border-color: #ddddddf1;
  }
}