.Header.navbar-light {
    background-color: #222222;
  
    .navbar-brand {
      color: #0d8eda;
      font-family: 'Lobster Two', cursive;
      font-size: 25px;
    }
  
    .navbar-nav .nav-link,
    .user-text a {
      color: #ffffff;
      transition: color 200ms;
      &:hover {
        color: #0d8eda;
        text-decoration: none;
      }
    }
  
    .user {
      display: flex;
      flex-direction: row-reverse;
  
      .user-avatar {
        width: 30px;
        height: 30px;
        line-height: 26px;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        font-size: 15px;
        background-color: #0d8eda;
        border: 2px solid #ffffff;
        border-radius: 3px;
        box-shadow: 0 0 0 2px #0d8eda;
      }
  
      .user-text {
        color: #ffffff;
        margin: 3px 10px;
        a {
          margin: 0 5px;
        }
      }
    }
  }