.CreatePost {
  display: flex;
  flex-direction: column;
}
.react-tagsinput-tag {
  background-color: rgb(12, 175, 240);
  border: none;
  color: black;
}
.upload-btn-wrapper{
    overflow: hidden;
    position: relative;
    display: inline-block;
}
.upload-btn{
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

